<div class="bucket">
  <div id="wrench-mount" class="current-branch css-truncate">
  </div>
</div>

<script>
var node;
var props = {};
function mountWrenchIndicator() {
  if (window.WrenchIndicator) {
    node = document.querySelector('#wrench-mount');
    window.WrenchIndicator(node, props);
  }
}
setTimeout(mountWrenchIndicator, 2000);
</script>
